# Cara pakai: salin file ini menjadi .env lalu isi dengan username dan password HackThisSite kalian.
# Gunakan tanda kutip ganda jika username/password mengandung spasi atau karakter khusus.
HTS_USERNAME="UsernameHackThisSiteKalian"
HTS_PASSWORD="PasswordHackThisSiteKalian"