# Ignore everything
*

# Allow traversal into subdirectories
!*/

# Never track these folders
6/
8/

# Only track solver files and gitignore
!.gitignore
!solver*.py
!solver*.rb

# Never track credentials
.env
!.env.example

!README.MD